dataset_params:
  train_dir: datasets/train
  test_dir: datasets/test
  frame_shape: [256, 256, 3]
  num_sources: 2 #minimum 3 samples (1 reference, 2 targets) for temporal learning
  target_delta: 2
  augmentation_params:
    jitter_param:
      brightness: 0.1
      contrast: 0.1
      saturation: 0.1
      hue: 0.1

model_params:
  common_params:
    num_kp: 10
    num_channels: 3
    estimate_jacobian: False
  kp_detector_params:
    temperature: 0.1
    block_expansion: 32
    max_features: 1024
    scale_factor: 0.25
    num_blocks: 5
  generator_params:
    block_expansion: 64
    max_features: 512
    num_down_blocks: 2
    num_bottleneck_blocks: 6
    estimate_occlusion_map: True
    residual_features: 48
    temporal_residual_learning: False #Set to true to learn temporal residuals & set train_params[num_sources] >=3 
    dense_motion_params:
      block_expansion: 64
      max_features: 1024
      num_blocks: 5
      scale_factor: 0.25
    sdc_params:
      variable_bitrate: True
      levels: 8
      scale_factor: 1 #set to fraction to test if compression efficiecy is higher with lower dimension residuals
      num_intermediate_layers: 3 #upsampling/downsampling blocks in the compression VAE = num_intermediate_layers + 2

  discriminator_params:
    scales: [1]
    block_expansion: 32
    max_features: 512
    num_blocks: 4
    use_kp: True

train_params:
  num_epochs: 50
  num_repeats: 1
  epoch_milestones: []
  lr: 2.0e-4
  lr_discriminator: 2.0e-4
  batch_size: 1
  scales: [1, 0.5, 0.25, 0.125]
  rd_lambda: [0.05,0.1,0.2,0.3,0.5,0.7,0.9,1.4]
  target_rate: 2
  checkpoint_freq: 10
  step_wise: True
  adversarial_training: False
  transform_params:
    sigma_affine: 0.05
    sigma_tps: 0.005
    points_tps: 5
  loss_weights:
    generator_gan: 1
    discriminator_gan: 1
    feature_matching: [10, 10, 10, 10]
    perceptual: [10, 10, 10, 10, 10]
    equivariance_value: 10
    equivariance_jacobian: 10

visualizer_params:
  kp_size: 5
  draw_border: True
  colormap: "gist_rainbow"

eval_params:
  #BPG codec is now deprecated :: We use Cheng2020 LIC from compressai
  ref_codec: 'ai' #
  qp: 4 #QPS [1-6]
  #evaluation metrics: Other implemented metrics ['psnr-hvs', 'nlpd', 'iw_ssim','vif']
  metrics: ['lpips','dists','msVGG', 'fsim', 'ms_ssim', 'psnr','vmaf'] 
  temporal: False #store per frame quality in the output file
  num_frames: 32 #First N frames to compress in the test videos
  gop_size: 32 #Number of frames to predict from 1 reference frame
  rd_point: 2 #[0-7] Target RD point
  q_value: 0.0 #interpolation factor between RD points [we use linear interpolation to code at intermediate RD points]
  use_skip: True #compares the latent representation of frame residuals [[Using COSINE SIMILARITY]] and skips if necessary.
  skip_thresh: 0.8 #if the similarity is above this value then skip current frame residual and reuse the previously decoded residual
  fps: 20